.about-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  margin-top: 8rem !important;
}

.about-text {
  width: 56%;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  margin-top: 0.1rem;
  display: flex;
  justify-content: center;
}

.pic-container {
  margin-top: 1.8rem;
  width: 33%;
  height: 28rem;
  border-radius: 10%;
  margin-bottom: 2rem;
  background: var(--text-color);
}

.pic-container img:hover {
  transform: rotate(0);
}

.pic-container img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  transform: rotate(10deg);
  box-shadow: 0 25px 50px rgba(214, 25, 25, 0.15);
  transition: var(--transition);
}

.btn {
  align-items: center;
  text-align: center;
  width: 50%;
  color: var(--container-color);
  background-color: var(--text-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

@media screen and (max-width: 1024px) {
  .pic-container {
    width: 40%;
    height: 38rem;
    margin-top: 3rem;
    margin-left: 0rem;
  }

  .about-text {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .pic-container {
    width: 25rem;
    height: 25rem;
    margin-top: 3rem;
    margin: 0 auto;
  }
  .about-text {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .about-container {
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .pic-container {
    width: 25rem;
    height: 25rem;
    margin-top: 3rem;
    margin: 0 auto;
  }

  .about-text {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .about-container {
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem;
  }

  .about-text {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .pic-container {
    margin: 0 auto;
    width: 80%;
    height: 30rem;
  }
}

@media screen and (max-width: 375px) {
  .pic-container {
    width: 90%;
    margin-left: 2rem;
    height: 30rem;
  }
}

@media screen and (max-width: 320px) {
  .pic-container {
    width: 90%;
    margin: 0 auto;
    height: 25rem;
  }
}
