.button1{
    display: inline-block;
    background-color: rgb(61, 57, 57);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}
